<div class="more-filters-container">
  <mat-dialog-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let myFilter of allFilters; first as isFirst" [expanded]="isFirst">
        <mat-expansion-panel-header>
          <mat-panel-title class="filter-name-title">
            {{myFilter.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button class="more-filter-option-button" *ngFor="let filterOption of myFilter.options"
                [ngClass]="{'selected': isSelected(filterOption)}"
                (click)="selectFilterOption(filterOption)">
          {{filterOption.title}}
        </button>
        <mat-dialog-actions>
          <table width="100%">
            <tr>
              <td align="right">
                <button mat-raised-button (click)="onApply(myFilter.name)">Apply</button>
              </td>
            </tr>
          </table>
        </mat-dialog-actions>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-dialog-content>
</div>
